.body2{
    background-image: url('../images/aboutus_page_images/right_body_q_circle.png');
    background-position-x: right;
    background-repeat: no-repeat;
}
.section1P2{
    margin-top: 140px;
    margin-bottom: 160px;
}
.w1_circle0{
background-image: url('../images/aboutus_page_images/w1_circle.png');
background-position: center;
background-repeat: no-repeat;
width: 480.79px;
height: 480.79px;
}
.health0{
   margin-top: 45px;
   width: 289.62px;
   height: 220.8px; 
   object-fit: fill;
   transform: translateX(-10%);
   margin-left: -50px;
}
.heading1 .p1P2{
    font-size: 14px;
    text-align: justify;
}
.health1{
    margin-bottom: 45px;
    width: 289.62px;
    object-fit: fill;
}
.section2P2{
    margin-bottom: 170px;
}
.section3P2{
    background-image: url('../images/aboutus_page_images/vision_circle.png');
    background-position-x:97%;
    background-position-y:0%;
    background-repeat: no-repeat;
    padding: 85px 0px 0 0; 
    margin-bottom: 150px;
}
.h5fit1P2{
    color: #454545;
    font-size: 14px;
    margin-bottom: 25px;
}
.section4P2{
    margin-bottom: 150px;
}
.team0 .h3teamP2{
    font-size: 14px;
    letter-spacing:  0.715em;
    color: #454545;
    text-align: center;
}
.team0 .h4teamP2{
    font-size: 28px;
    color: #24CCD4;
    margin-top: 5px;
    margin-bottom: 62px;
    text-align: center;
    margin-right: 11px;
    font-weight: bold;
}
.section5P2{
margin-bottom: 250px;   
} 
.t1P2{
    margin-bottom: 50px;
    background-color: #F2F2F2;
    height: 404px;
    padding: 30px 0 0 0;
    border-radius: 82px 82px 0 0;
}
.blogs0P2 {
    background-color: #F2F2F2;
    transform: translateY(66%);
    padding: 30px 0 25px 0;
    border-radius: 0 0 82px 82px;
    height: 400px;
}
.team1P2 .h3teamP2{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-bottom: 45px;
}
.team1P2 .h4teamP2{
    font-size: 28px;
    color: #24CCD4;
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
}
.teamimg0P2{
    width: 295px;
    height: 210px;
}
.backteam2{
    background-color: #F8F8F8;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0 0 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}
.section5P2 .t1P2{
    position: relative;
}
.s1team {
    width: 80%;
    display: block;
    margin: auto;
    transform: translateY(7%);
}
.section5P2 .t1P2 .swiper-button-next{
    background-image: url('../images/aboutus_page_images/right_white_arrow.svg');
    background-color: #7A5C8D;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -10%;
    padding: 25px 25px 25px 25px ;
    border-radius: 50%;
}
.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}
.section5P2 .t1P2 .swiper-button-prev{
    background-image: url('../images/aboutus_page_images/left_white_arrow.svg');
    background-color: #7A5C8D;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -10%;
    padding: 25px 25px 25px 25px ;   
    border-radius: 50%;
}
.section6P2{
    margin-top: 160px;
    margin-bottom: 400px;
}
.first_rowP2{
    transform: translateY(-52%);
}
.section7P2{
    margin-top: 200px;
    margin-bottom: 50px;
}