.section1P1 {
    padding: 45px 0 45px 0;
    background-color: #000000;
    margin: 0px 0 0 0;
}

.container {
    background-color: rgb(18, 148, 148);
    padding: 70px 55px 70px 55px;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/poppins/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.calculator {
    padding: 25px 25px 25px 25px;
    width: 50%;
    margin: auto;
    background-color: #444;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 3px #111;
}

.calc-row {
    text-align: center;
}

.calc-row div.screen {
    width: 100%;
    background-color: #eee;
    text-align: right;
    border: 0.5px solid rgba(0, 0, 0, 0.822);
    color: rgb(0, 96, 241);
    font-size: 35px;
    padding: 8px 30px 8px 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.calc-row div {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #555;
    background-color: #eee;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    box-shadow: 2px 2px 1px 1px #222;
    width: 100%;
    margin: 5px 0px 5px 0;
}

.calc-row div.zero {
    width: 100%;
}

.calc-row div.equal {
    height: 57.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-row div.plus1 {
    height: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-row {
    margin-right: 5px;
}