/*===============================Fixed Css Code Starts=====================================*/
h1 {
  font-size: 36px;
  color: #000000;
}
h2 {
  font-size: 32px;
  color: #000000;
}
h3 {
  font-size: 28px;
  color: #000000;
}
h4 {
  font-size: 24px;
  color: #000000;
}
h5 {
  font-size: 20px;
  color: #000000;
}
h6 {
  font-size: 16px;
  color: #000000;
}
a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
a:hover {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
section {
  margin: 50px 0 50px 0;
}
/*===============================Fixed Css Code Ends=====================================*/
.a1 {
  display: flex;
  text-decoration: none;
}
.a1:hover {
  text-decoration: none;
}
.a1 img {
  width: 40px;
  height: 40px;
}

.m1 {
  display: flex;
  padding: 0 15px 0 25px;
}

.m1 input {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
}
.image2 {
  background-color: transparent;
  padding: 0 0 0 5px;
  border: none;
  outline: none;
  box-shadow: none;
  width: 27px;
  height: 20px;
  display: block;
  margin: auto;
}
.input1 {
  /* width: 60%;
  margin: auto; */
  padding: 10px 10px 10px 10px;
  box-shadow: 1px 0px 7px 2px rgb(14 0 0 / 38%);
  border-radius: 25px;
}
.i1 .form-control {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 0 0 0;
}

.i1 {
  border: none;
  outline: none;
  box-shadow: 1px 0px 7px 2px rgb(14 0 0 / 38%);
  border-radius: 25px;
}

.icon.icon-search {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.icon.icon-search:hover,
:focus {
  box-shadow: none;
}
.f1-div1 {
  display: flex;
  justify-content: space-between;
}
.f1a1 {
  align-self: end;
}
.f1a1 a {
  padding: 0 0 0 0;
  margin-right: 5px;
}
.nextandprev {
  text-align: center;
}
.nextandprev a {
  color: #0004ff;
  font-size: 25px;
  font-weight: 600;
  padding: 0 0 0 0;
  margin: 0 20px 0 20px;
}
.container_div {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.redcolor {
  color: rgb(255, 0, 0);
}
.text1 {
  padding: 0 0 0 0;
  margin-left: 5px;
  font-weight: 600;
}
.born1-hoilday1 {
  display: flex;
  justify-content: space-between;
}
.birthday {
  background-color: #cacbff;
  padding: 20px 20px 20px 20px;
  width: 50%;
  margin-right: 25px;
  border-radius: 10px;
}
.h3-holiday {
  margin-left: 25px;
}
.holiday {
  background-color: #cacbff;
  padding: 20px 20px 20px 0px;
  width: 50%;
  margin-left: 25px;
  border-radius: 10px;
}
/* ul {
  
}
ul li:before {
  content: "";
  font-size: 20px;
} */
ul li::marker {
  font-size: 20px;
  color: rgb(255, 0, 0);
  font-weight: 600;
}
