.img1divP2 img {
    margin: 30px 0 -20% 0;
}

.section1P2 {
    background-color: #53134F;
    margin: 0 0 200px 0;
}

.img1s3div img {
    margin: -20% 0 0 0;
}


.section3P21 {
    background-color: #53134F;
    margin: 360px 0 0px 0;
    padding-bottom: 50px;
}

.img1s3div {
    display: block;
    margin: auto;
    text-align: center;
}

.h2divs3 {
    margin: 30px 0 0 0;
}

.h2divs3 h1 {
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
}

.section3P22 {
    background-color: #53134F;
    padding: 50px 0 0 0;
}

.img1s32div1 img {
    margin: 0 0 -45% 0;
}