.heading0P1 {
    position: relative;
}

.heading1P1 {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.bg-color {
    background-color: #53134F;
    width: 400px;
    height: 121px;
    position: absolute;
    top: -20px;
    z-index: -1;
    right: 0;
}

.t5 {
    box-shadow: none;
}

.secondrow {
    justify-content: space-between;
}

.girl_M1 {
    margin: 50px 0px 0px 0px;
}

.firstrow {
    margin-top: 50px;
}

.img1divP1 {
    margin: 112px 0 0 0;
}

.section2P1 {
    margin: 100px 0 150px 0;
}

.c2 {
    position: relative;
}

.bg0-color {
    background-color: #53134F;
    width: 50%;
    height: 450px;
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0px;
}

.dance1 {
    width: 685px;
}

.telephone_icon {
    margin: 0 15px 0 0;
}

.img2h2P1 {
    margin: 25px 0 0 0;
}

.h3divP1 .h3P1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.p1divP1 p {
    margin: 15px 0 15px 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.left0 {
    padding-left: 80px;
    align-self: flex-end;
}

.h4div0P1 h4 {
    color: #57FFEB;
    text-align: left;
}

.h4div0P1 .divp1 {
    color: #FFFFFF;
    margin: 15px 0 15px 0;
    font-size: 14px;
}

.p2div1s3 .divp1 {
    color: #FFFFFF;
    text-align: justify;
}

.section3P1 {
    position: relative;
}

.imgsee {
    background-color: #53134F;
    width: 840px;
    height: 500px;
    position: absolute;
    z-index: -1;
    left: 23%;
    top: -3%;
}

.c3 {
    width: 60%;
}

.circle1P1 .circle1 {
    position: absolute;
    z-index: 1;
    left: 47%;
    top: 10%;
}

.pad-1 {
    padding: 0 0 0 45px;
}

.h2divP1 h2 {
    text-align: end;
}

.background1 {
    background-color: #53134F;
    display: flex;
}

.background2 {
    display: block;
}

.p1divs4 p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.headings4 {
    background-color: #53134F;
    width: 100%;
    height: 100%;
    padding: 30px 30px 0 30px;
}

.face1 {
    object-fit: fill;
    width: -webkit-fill-available;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.p1 {
    position: relative;
}

.swiper-button-next {
    background-image: url('../images/home_page_images/right_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -5%;
    padding: 25px 25px 25px 25px;
    border-radius: 50%;
}

.swiper-button-prev {
    background-image: url('../images/home_page_images/left_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -5%;
    padding: 25px 25px 25px 25px;
    border-radius: 50%;
}

.move1 {
    background-image: url('../images/home_page_images/right_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 30%;
    top: 100%;
    padding: 25px 25px 25px 25px;
    border-radius: 50%;
    transform: translateY(50%);
}

.move2 {
    background-image: url('../images/home_page_images/left_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 35%;
    top: 100%;
    transform: translateY(50%);
    padding: 25px 25px 25px 25px;
    border-radius: 50%;
}

.section5P1 {
    position: relative;
}

.backgrounds5 {
    background-color: #53134F;
    position: absolute;
    z-index: -1;
    left: 0%;
    width: 100%;
    height: 300px;
}

.width-minimize {
    width: 80%;
    display: block;
    margin: auto;
    padding: 25px 0 25px 0;
}

.h1s5div h1 {
    text-align: center;
}

.passion {
    position: relative;
    display: block;
    transition: all 0.4s linear;
}

.passion .image0 {
    width: 100%;
    height: 344px;
    object-fit: fill;
}

.picture1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(87, 255, 235, 0.8);
    padding: 15px 10px 20px 10px;
    text-align: center;
    height: 20%;
}

.picture1 h3 {
    color: #1a5852;
}

.overlay0 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1s ease;
    padding: 40px 20px 0 20px;
}

.passion:hover .overlay0 {
    height: 100%;
    background: rgba(87, 255, 235, 0.8);
}

.passion:hover {
    margin: -20px 0 0px 0;
}

.passion:hover .picture1 {
    display: none;
}

.picture3 h3 {
    color: #1A5852;
    text-align: center;
    font-weight: 600;
}

.img3div1 img {
    margin-bottom: 25px;
}

.overlay0 p {
    color: #1A5852;
    text-align: justify;
}

.boy1_dance_M {
    margin-bottom: 25px;
    margin-top: 25px;
}

.p3divteens p {
    margin-top: 25px;
    font-size: 14px;
}